<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="about-container">
  <h1 class="about-page-title">吟家について
    <span class="about-page-subtitle">ABOUT</span>
  </h1>

  <div class="concept-list">
    
    <section class="concept-item">
      <div class="concept-image">
        <%= image_tag "about1.png", alt: "ディナー" %>
      </div>
      <div class="concept-text">
        <h2 class="concept-title">【ディナー】 大阪割烹の技が光る！旬の食材を活かしたアラカルト</h2>
        <p class="concept-description">
          ディナーは季節の食材を用いたアラカルトでのご提供。大阪の割烹で修行を積んだ店主が、鰹と昆布の出汁を活かした料理を振舞います。季節の移ろいを感じられる旬の料理と、一年を通して提供する定番料理が多数。特製ソースで味わう「和牛のヘレカツ」やべシャメルソースの「甘鯛の新じゃが焼き」など、店主の自由な発想で作り上げた逸品が揃います。一品一品、こだわりと工夫を凝らした料理をぜひご堪能ください。
        </p>
      </div>
    </section>

    <section class="concept-item">
      <div class="concept-image">
        <%= image_tag "about2.png", alt: "ランチ" %>
      </div>
      <div class="concept-text">
        <h2 class="concept-title">【ランチ】 日曜限定！出汁と味噌が活き
る和風ハヤシライス</h2>
        <p class="concept-description">
          日曜日限定ランチとして「和風のハヤシライス_蒸し野菜のセット」（1,500円）をご提供しております。かつおと昆布の出汁を活かした和風ハヤシライスは、赤と白の味噌を合わせて仕上げにバターを追加。出汁の旨味と味噌のコク深い味わいが魅力です。セットの蒸し野菜は、8種類の季節野菜をせいろで蒸し上げました。ポン酢系か明太マヨネーズにつけて召し上がれ。ランチアルコールもございますので昼飲みも楽しめます。
        </p>
      </div>
    </section>

    <section class="concept-item">
      <div class="concept-image">
        <%= image_tag "about3.png", alt: "ドリンク" %>
      </div>
      <div class="concept-text">
        <h2 class="concept-title">味わい豊かな日本酒と焼酎の数々！自家製ジンジャーエールも◎</h2>
        <p class="concept-description">
          日本酒はお客様のご要望にお応えできる幅広い銘柄をご用意しております。辛口・フルーティー・燗酒に合うものや、「黒龍」「日高見」「不動」などの産地が異なる多種多様なラインナップ。自分好みの一杯を見つけてみてください。焼酎は米・麦・芋・蕎麦など約10種類以上を取り揃えており、ウィスキーやワイン、ソフトドリンクもございます。すりおろした生姜を使用したスッキリ爽快な「自家製ジンジャーエール」がおすすめです。
        </p>
      </div>
    </section>

    <section class="concept-item">
      <div class="concept-image">
        <%= image_tag "about4.png", alt: "空間" %>
      </div>
      <div class="concept-text">
        <h2 class="concept-title">池尻にある大人の隠れ家。畳が広がる上質な和空間でリラックス</h2>
        <p class="concept-description">
          木材の温もり溢れる和モダンの大人の隠れ家【吟家】。靴を脱いでリラックスできる畳の掘りごたつ式L字カウンター9席をご用意しております。店主の手仕事を間近でご覧いただけるのも魅力。席間隔も広めに設けているので、ゆったりした時間をお過ごしください。最大9名様まで貸切利用も承ります◎同僚との飲み会やカップル、ご家族でのお食事にも最適。大人の落ち着いた空間と上質な時間をご提供いたします。
        </p>
      </div>
    </section>

  </div>
</div>