<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="swiper top-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><%= image_tag 'top1.jpeg', alt: "トップ画像1" %></div>
    <div class="swiper-slide"><%= image_tag 'top2.jpeg', alt: "トップ画像2" %></div>
    <div class="swiper-slide"><%= image_tag 'top3.jpeg', alt: "トップ画像3" %></div>
    <div class="swiper-slide"><%= image_tag 'top4.jpeg', alt: "トップ画像4" %></div>
    <div class="swiper-slide"><%= image_tag 'top5.jpeg', alt: "トップ画像5" %></div>
    <div class="swiper-slide"><%= image_tag 'top6.jpeg', alt: "トップ画像6" %></div>
    <div class="swiper-slide"><%= image_tag 'top7.jpeg', alt: "トップ画像7" %></div>
    <div class="swiper-slide"><%= image_tag 'top8.jpeg', alt: "トップ画像8" %></div>
  </div>
  
  <div class="swiper-pagination"></div>
</div>

<div class="foods-container">
<h3>お知らせ一覧</h3>
  <% @foods.each do |t| %>
    <div class="food">
      <div class="main-box">
        <div class="left-container"><%= t.title %></div>
        <% if t.image.attached? %>
        <div class="left-container"><%= image_tag t.image, size: '250x200'%></div>
        <% end %>
        <div class="right-container">
          <%= link_to "詳細へ", food_path(t.id) %>
          <%= link_to "編集する", edit_food_path(t.id) %>
          <%= button_to "削除する", food_path(t.id), method: :delete %>
        </div>
      </div>
        <p class="left-container"><%= t.date %></p>
    </div>
  <% end %>
</div>